[user]
	name = Timur Ibatullin
	email = timur@ibatullin.com
[core]
	editor = vim
[alias]
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lr = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph



  # http://helpfulsheep.com/2016-03-22-what-git-i-do-last-month/
  slm =  "!f() { \
    username=$(git config user.name);\
    author=${1-$username};\
    commits=$(git log --author=\"$author\" --no-merges --before=$(date \"+%Y-%m-01T00:00\") --after=$(date -d \"-$(date +%d) days -1 month\" \"+%Y-%m-%dT23:59\") --reverse | grep commit | wc -l); \
    changed=$(git log --author=\"$author\" --no-merges --before=$(date \"+%Y-%m-01T00:00\") --after=$(date -d \"-$(date +%d) days -1 month\" \"+%Y-%m-%dT23:59\") --reverse --stat | grep -Eo \"[0-9]{1,} files? changed\" | grep -Eo \"[0-9]{1,}\" | awk \"{ sum += \\$1 } END { print sum }\"); \
    insertions=$(git log --author=\"$author\" --no-merges --before=$(date \"+%Y-%m-01T00:00\") --after=$(date -d \"-$(date +%d) days -1 month\" \"+%Y-%m-%dT23:59\") --reverse --stat | grep -Eo \"[0-9]{1,} insertions?\" | grep -Eo \"[0-9]{1,}\" | awk \"{ sum += \\$1 } END { print sum }\"); \
    deletions=$(git log --author=\"$author\" --no-merges --before=$(date \"+%Y-%m-01T00:00\") --after=$(date -d \"-$(date +%d) days -1 month\" \"+%Y-%m-%dT23:59\") --reverse --stat | grep -Eo \"[0-9]{1,} deletions?\" | grep -Eo \"[0-9]{1,}\" | awk \"{ sum += \\$1 } END { print sum }\"); \
    echo $author; \
    echo $commits commits, $changed files changed, $insertions insertions and $deletions deletions last month; \
  }; f"


  # https://csswizardry.com/2017/05/little-things-i-like-to-do-with-git/

  # Leaderboards
  # git stats
  stats = shortlog -sn --all --no-merges

  # Show Changed Words Instead of Whole Lines
  # git worddiff
  worddiff = diff --word-diff

  # See Which Branches You Recently Worked On
  # git recent
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"

  # See What Everyone’s Been Getting Up To
  # git overview
  # git overview --since='2 weeks'
  overview = log --all --oneline --no-merges

  # Remind Yourself What You’ve Been Up To
  # git recap
  recap = log --all --oneline --no-merges --author=timur@ibatullin.com

  # Today’s Work
  # git today
  today = log --since=00:00:00 --all --no-merges --oneline --author=timur@ibatullin.com

  # Check Which Changes You’re About to Pull
  # git upstream origin/feature/fonts
  upstream = "!f() { git log --oneline --no-merges HEAD..origin/$1; }; f"

  # Review What You’re About to Push
  # git local feature/fonts
  local = "!f() { git log --oneline --no-merges origin/$1..HEAD; }; f"

  # Generate a Changelog
  # git changelog 1.0
  changelog = "!f() { git log --oneline --no-merges $1..HEAD; }; f"

  # View Complex Logs
  # git graph
  graph = log --graph --all --decorate --stat --date=iso

  # git stage
  staged = diff --cached

  # git stash show

  stashed = "!f() { git stash show stash@{$1} -p; }; f"

  # All tags with date
  tags = tag -l --sort=-creatordate --format='%(creatordate:short):  %(refname:short)'

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
